

.register-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 218, 169);
    padding: 50px 0;
  }
  
  .registration-form {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 50px 0 50px 0;
    width: 60vh;
    color: white;
    background-color: rgb(177, 125, 48);
    text-align: center;
  }
  
  .link {
    font-size: 20px;
    font-weight: bold;
    color: blue;
  }
  